<div class="pres-flex">
	<div class="pres">
		<div class="content">
			<figure>
			  <div>
			    <span>Ready ?</span>
			    <span><%= link_to decks_path do %>Play<% end %></span>
			  </div>
			</figure>
			<p>
				<%= image_tag("logo.png", size: "18", class: "ball") %>
				Enjoy this new game about NBA
				<%= image_tag("logo.png", size: "18", class: "ball") %>
			</p>
		</div>
	</div>
</div>
