// Place all the styles related to the parties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$color:#ff9100;
$teams:#0072b2;
body{
	font-family: 'Montserrat', sans-serif;
	.tableau{
		display: flex;
		justify-content: center;
	}
	div{
		margin:0;
		padding: 0;
	}
	.bigger{
		font-size:35px;
	}
	.gtime{
		font-size: 45px;
		text-align: left;
		display: inline-block;
	}
	.teams{
		color: $teams !important;
	}
	.result{
		width: 100%;
		display: flex;
		.points{
			display: none;
			width: 50%;
			text-align: center;
			padding: 20px 0;
			font-size: 25px;
			font-weight: bold;
		}
		.counter{
			display: inline;
		}
	}
	.block-presentation{
		display: flex;
		width: 100%;
		.pres-players{
			text-align: center;
			width:20%;
			padding: 10px;
			img{
				width: 100%;
			}
		}
	}
	.button-versus{
		background-color: #ff9100;
	}
	.ready{
		width: 100%;
		display: flex;
		justify-content: center;;
		figure{
			width:450px;
			height:60px;
			cursor:pointer;
			perspective:500px;
			-webkit-perspective:500px;
			& div{
				height:100%;
				transform-style:preserve-3d;
				-webkit-transform-style:preserve-3d;
				transition:0.25s;
				-webkit-transition:0.25s;
			}
			&:hover div{
				transform:rotateX(-90deg);
			}
		}
		span{
			width:100%;
			height:100%;
			position:absolute;
			box-sizing:border-box;
			border:5px solid #FF3939;
			font-family: 'Fascinate Inline', cursive;
			line-height:50px;
			font-size:20pt;
			text-align:center;
			text-transform:uppercase;
			&:nth-child(1){
				color:#FF3939;
				transform: translate3d(0, 0, 30px);
				-webkit-transform: translate3d(0, 0, 30px);
			}
			&:nth-child(2){
				color:#fff;
				background:#FF3939;
				transform: rotateX(90deg) translate3d(0, 0, 30px);
				-webkit-transform: rotateX(90deg) translate3d(0, 0, 30px);
			}
		}
	}
}
