<h1><%= @deck.name %></h1>

<p>Voici les cartes du deck:</p>

<% @joueursdeck.each do |joueur|%>
<div class="formulaire">
	<a href="/joueurs/<%= joueur.id %>">
		<%=  joueur.avatar.exists? ? image_tag(joueur.avatar.url(:medium)) : '&empty;'.html_safe %>
	</a>
</div>

<% end %>

<p><a href="/decks">Retourner à la liste des decks</a></p>